/* Fuente global */
body {
    font-family: "Poppins", sans-serif;
    background: #ffdff4; /* rosa pastel suave */
    margin: 0;
    padding: 0;
    color: #000; /* letras negras */
}

/* Caja principal */
.container {
    width: 90%;
    max-width: 450px;
    background: #fff;
    padding: 30px;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 0, 120, 0.15);
}

/* Título */
h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    color: #d63384; /* rosa fuerte */
}

/* Labels */
label {
    font-size: 15px;
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

/* Inputs y selects */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 10px;
    border: 2px solid #ff9dd9;
    font-size: 14px;
    background: #ffe6f4;
    color: #000;
}

/* Para select multiple */
select[multiple] {
    height: 90px;
}

/* Botones */
.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background: #ff8ac2;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    width: 48%;
    transition: 0.2s;
}

.btn:hover {
    background: #ff6eb6;
}

/* Botón limpiar */
.limpiar {
    background: #ffc6e6;
}

.limpiar:hover {
    background: #ffb3df;
}
